.menu-h ul{
    list-style: none;
    padding: 0 30%;
    background-color: rgb(4, 68, 09);   
}

.menu-h ul li{
    display: inline;
}

.menu-h ul li a{
    color: #FFFFFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background ,4s; 
}

.menu-h ul li a:hover{
    background-color: rgb(98, 158, 54);
    
}
